{% extends "base.html" %}
{% block body %}
<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/static/images/declaration.jpg); opacity='50%';" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Ridders Block</h1>
                                                        <h2>Showing you <a href="../list/">ALL</a> active legislative bills that may be a little off.</h2>
							<div class="jumbotron">
                                                            <h1 class="display-3" style="color:black">Number of active Bills</h1>
                                                            <h1 class="display-2">
                                                                <a href="../list/" style="color:blue !important">{{numbills}}</a>
                                                            </h1>
                                                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
